html {
    scroll-behavior: smooth;    /* Smooth scrolling animation */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333
}

nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #575757;
}

.container {
    width: 80%;
    margin: 40px auto;
    overflow: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#whoami-header {
    display: flex;
    align-items: center;
}

#whoami-header h2 {
    margin-right: 20px;
}

#whoami-header img {
    margin-left: auto;
}

.text-image-container {
    display: flex;
    align-items: center;
}

.text-image-container p {
    margin-right: 20px;
}

.text-image-container img {
    margin-left: auto;
}

#projects-header {
    display: flex;
    align-items: center;
}

#projects-header h2 {
    margin-right: 20px;
}

#projects-header img {
    margin-left: auto;
}

#blog-header {
    display: flex;
    align-items: center;
}

#blog-header h2 {
    margin-right: 20px;
}

#blog-header img {
    margin-left: auto;
}

#contact-header {
    display: flex;
    align-items: center;
}

#contact-header h2 {
    margin-right: 20px;
}

#contact-header img {
    margin-left: auto;
}

.section {
    background-color: #222;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1, h2 {
    color: #ff0000;
}